<#include "head.html" encoding="utf-8">
<meta charset="utf-8">
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close"><i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span><img alt="image" class="img-circle" src="${request.contextPath}/static/js/hplus_v4/img/profile_small.jpg" /></span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs"><strong class="font-bold">${admin.username!}</strong></span>
                                <span class="text-muted text-xs block">${admin.nickName!}<b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a class="J_menuItem" href="form_avatar.html">修改头像</a>
                                </li>
                                <li><a class="J_menuItem" href="profile.html">个人资料</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="javascript:loginOut();" id="loginout">安全退出</a>
                                </li>
                            </ul>
                        </div>
                        <div class="logo-element">H+
                        </div>
                    </li>
                    
                    <!-- 动态菜单开始 -->
                    <#list menuList as item>
                    	<#if item.isShow=="1">
                    		<li>
                    			 <a href="#"><i class="${item.icon}"></i> <span class="nav-label">${item.name}</span><span class="fa arrow"></span></a>
		                    	<ul class="nav nav-second-level">
		                    	<#if item.children??>
		                    	<li>
		                    		<#list item.children as v1>
		                    			<#if menuFunc??>
		                    			<#list menuFunc?keys as mKey>
    										<#assign func = menuFunc[mKey]> 
    										<#if func??>
						                    	<#list func as item>  
						                        	<#if item.menuId == v1.id && item.isShow==1>
						                            	<li>
                        									<!-- <a href="#">${v1.name}<span class="fa arrow"></span></a> -->
						                            		<!-- <ul class="nav nav-third-level"> -->
						                                		<!-- <li> -->
						                                			<a class="J_menuItem" href="${request.contextPath}/${item.url!}">${item.name!}</a>
						                                		<!-- </li> -->
						                            		<!-- </ul> -->
						                            </li>
						                        </#if>
						                        </#list>
    										</#if>
		                    			</#list>
		                    			</#if>
		                    		</#list>
		                    	</#if>
                    			</ul>
	                    	</li>
                    	</#if>
                    </#list>
                    <!-- 动态菜单结束 -->
                    <!-- <li>
                        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">表单</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="form_basic.html">基本表单</a>
                            </li>
                            <li><a class="J_menuItem" href="form_validate.html">表单验证</a>
                            </li>
                            <li><a class="J_menuItem" href="form_advanced.html">高级插件</a>
                            </li>
                            <li><a class="J_menuItem" href="form_wizard.html">表单向导</a>
                            </li>
                            <li>
                                <a href="#">文件上传 <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li><a class="J_menuItem" href="form_webuploader.html">百度WebUploader</a>
                                    </li>
                                    <li><a class="J_menuItem" href="form_file_upload.html">DropzoneJS</a>
                                    </li>
                                    <li><a class="J_menuItem" href="form_avatar.html">头像裁剪上传</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">编辑器 <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li><a class="J_menuItem" href="form_editors.html">富文本编辑器</a>
                                    </li>
                                    <li><a class="J_menuItem" href="form_simditor.html">simditor</a>
                                    </li>
                                    <li><a class="J_menuItem" href="form_markdown.html">MarkDown编辑器</a>
                                    </li>
                                    <li><a class="J_menuItem" href="code_editor.html">代码编辑器</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="J_menuItem" href="suggest.html">搜索自动补全</a>
                            </li>
                            <li><a class="J_menuItem" href="layerdate.html">日期选择器layerDate</a>
                            </li>
                        </ul>
                    </li> -->
                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
            </div>
            <div class="row content-tabs">
                <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
                </button>
                <nav class="page-tabs J_menuTabs">
                    <div class="page-tabs-content">
                        <a href="javaScript:;" class="active J_menuTab" data-id="/admin-web/manger/homepage" target="view_frame">首页</a>
                    </div>
                </nav>
                <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
                </button>
                <div class="btn-group roll-nav roll-right">
                    <button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>

                    </button>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li class="J_tabShowActive"><a>定位当前选项卡</a>
                        </li>
                        <li class="divider"></li>
                        <li class="J_tabCloseAll"><a>关闭全部选项卡</a>
                        </li>
                        <li class="J_tabCloseOther"><a>关闭其他选项卡</a>
                        </li>
                    </ul>
                </div>
                <a href="javascript:loginOut();" id="out" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
            </div>
            <div class="row J_mainContent" id="content-main">
                <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="/admin-web/manger/homepage" frameborder="0" data-id="/admin-web/manger/homepage" seamless></iframe>
            </div>
            <div class="footer">
                <div class="pull-right">&copy; 2014-2015 <a href="http://www.zi-han.net/" target="_blank">zihan's blog</a>
                </div>
            </div>
        </div>
        <!--右侧部分结束-->
    </div>
</body>
<#include "foot.html" encoding="utf-8">

<script type="text/javascript">

//退出登录
function loginOut(){
	$.ajax({
		type:"POST",
		url:"${request.contextPath}/manger/loginout",
		success:function(data){
			if(data.result===1){
				layer.msg(data.msg);
        		setTimeout(function(){
        			location.href="${request.contextPath}/manger/index";
        		},1000)
			}else if(data.result===9999){
				layer.msg(data.msg);
			}
		}
	})
}

</script>

<!-- Mirrored from www.zi-han.net/theme/hplus/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:17:11 GMT -->
</html>
